<div class="row">
    <div class="col-xs-12 col-sm-12">

        <div class="block-title">
            <h3> <span>Hobbies</span></h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="fun-fact gray-default">
            <i class="lnr lnr-train"></i>
            <h4>Traveling</h4>
            <span class="fun-fact-block-value"></span>
            <span class="fun-fact-block-text"></span>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <div class="fun-fact gray-default">
            <i class="lnr lnr-book"></i>
            <h4>Learning</h4>
            <span class="fun-fact-block-value"></span>
            <span class="fun-fact-block-text"></span>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 ">
        <div class="fun-fact gray-default">
            <i class="lnr lnr-smile"></i>
            <h4>Meditation</h4>
            <span class="fun-fact-block-value"></span>
            <span class="fun-fact-block-text"></span>
        </div>
    </div>
</div>